* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--offWhite);
  font-family: "Inter", sans-serif;
  color: var(--charcoal);
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: var(--charcoal);
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}